@import './fonts/index.css';

:root {
  --mainColor: wheat;
  --headFontSize: 56px;
}

body {
  font-family: Caveat, cursive, system-ui;
  min-height: 100vh;
  background-size: 100%;
  background-color: #161619;
  color: wheat;
  font-size: 33px;
  font-weight: 400;
  text-align: center;
}
